{% load static %}
{% block body %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>TIIAME NRU</title>
        <link rel="shortcut icon" href="{% static 'feedbackbot/image/logo.png' %}">
        <link rel="stylesheet" href="{% static 'feedbackbot/css/main_style.css' %}">
    </head>
    <body>

    <section class="header">
        <nav>
            <a href="{% url 'home' %}"><img src="{% static 'feedbackbot/image/logo.png' %}" id="logo-img"
                                            alt="logo"></a>
            <span class="header_name">"Toshkent irrigatsiya va qishloq xo‘jaligini mexanizatsiyalash muhandislari instituti" <br>Milliy
                tadqiqot
                universiteti</span>

            <div class="nav-links" id="navLinks">

                <span class="icon" onclick="hidemenu()">&#10005;</span>
                <ul>
                    <li><a href="https://t.me/ilovetiiame">Telegram</a></li>
                    <li><a href="https://instagram.com/tiiameofficial">Instagram</a></li>
                    <li><a href="https://facebook.com/tiiame.uz">Facebook</a></li>
                    <li><a href="https://twitter.com/tiiameofficial">Twitter</a></li>
                    <li><a href="https://tiiame.uz/">Web Sayt</a></li>
                </ul>
            </div>
            <span class="icon" onclick="showmenu()">&#9776;</span>
        </nav>

        <div class="text-box">
            {% csrf_token %}
            <h1>"TIQXMMI" MTU</h1>
            <p>"Toshkent irrigatsiya va qishloq xo‘jaligini mexanizatsiyalash muhandislari instituti" <br>Milliy
                tadqiqoqt
                universiteti.</p>

            <a href="admin/" class="hero-btn">Platformaga Kirish</a>
        </div>
    </section>

    <!--Course of Collage-->


    <section class="course" id="course_call">
        <h1>"TIQXMMI" MTU, Iqtisodiyot fakulteti</h1>
        <p>Ta'lim tizimini nazorat qilish va ustozlarni baholash uchun mo'ljallangan platforma</p>

        <div class="row">
            <div class="course-col">
                <h2>Telegram Bot</h2>
                <p>Talabalar Telegram botdan o‘zlarining shaxsiy id va parollari orqali ro‘yxatdan o‘tishadi va har bir
                    talabaga biriktirilgan dars jadvali bo‘yicha darsning yakunida talabaga avtomatlashtirilgan holda
                    xabar yuboriladi, bu xabarda "Ustozning pedagoglik mahoratiga baho bering" deb yozilgan bo‘ladi
                    keyin talaba baho beradi va o‘z fikrlarini bildiradi, natijalar esa platformaga saqlanadi.</p>
            </div>

            <div class="course-col">
                <h2>Admin Platforma</h2>
                <p>Admin platformaga esa faqat ruxsat etilgan shaxslar kira oladi bular odatda dekanat a’zolari
                    hisoblanadi, platformaning vazifalari Talabalar,Ustozlarni ro‘yxatdan o‘tqazish dars jadvallarini
                    nazorat qilish, fan va guruhlarni nazorat qilish va eng asosiysi ustozlarga qo‘yilgan baholarni
                    kuzatib ularni o‘rtacha bahosi (1-5-oralig‘ida) va foiz ko‘rsatgichini kuzatib borish bo‘ladi.</p>
            </div>

            <div class="course-col">
                <h2>Natija</h2>
                <p>Natijada esa har bir ustozga qo‘yilgan baho, fikr va foiz ko‘rsatkichlaridan kelib chiqqan holda
                    o‘qituvchiga ogohlantirish berish va kerakli chora tadbirlarni ko‘rish imkoniyati bo‘ladi buning
                    natijasida esa fakultetning ta’lim sifatida sezilarli darajada o‘zgarish bo‘ladi. Buning barchasi
                    ta’lim sifatini yaxshilash va talabalarni sifatli ta’lim olishini ta’minlash uchun qilinmoqda.</p>
            </div>


        </div>
    </section>


    <section class="facilities">
        <h1>IQTISODIYOT FAKULTETI</h1>
        <p>Fakultetning rivojlanish tarixi va faoliyati.</p>

        <div class="row">
            <div class="facilities-col">
                <h3>Tarixi</h3>
                <p>1974 yilda Toshkent irrigatsiya va qishloq xo‘jaligini mexanizatsiyalash muhandislari institutining
                    “Gidrotexnik inshootlar” fakulteti qoshida “Suv xo‘jaligi iqtisodi va uni tashkil etish” yo‘nalishi
                    ochildi. Bu yo‘nalish 1976 yilga borib mustaqil fakultetga aylantirildi.</p>
            </div>

            <div class="facilities-col">
                <h3>Rivojlanishi</h3>
                <p>Fakultet 2004 yildan “Suv xo‘jaligini boshqarish va uning iqtisodiyoti”, 2015 yildan “Suv xo‘jaligida
                    menejment” fakulteti nomi bilan, O‘zbekiston Respublikasi prezidentining 2017-yil 24 maydagi PQ-3003
                    “Qishloq va suv xo‘jaligi tarmoqlari uchun muhandis-texnik kadrlar tayyorlash tizimini tubdan
                    takomillashtirish chora-tadbirlari” to‘g‘risidagi qaroriga asosan, “Suv xo‘jaligini tashkil etish va
                    boshqarish” fakulteti nomi bilan faoliyat ko‘rsatib keldi.</p>
            </div>

            <div class="facilities-col">
                <h3>Hozirgi faoliyati</h3>
                <p>O‘zbekiston Respublikasi Prezidentining 10.12.2021-yil PQ-42-son "Iqtisodiyot tarmoqlari uchun
                    muhandis kadrlarni tayyorlash tizimini innovatsiya va raqamlashtirish asosida tubdan
                    takomillashtirish chora-tadbirlari to‘g‘risida"gi Qarori asosida “Toshkent irrigatsiya va qishloq
                    xo‘jaligini mexanizatsiyalash muhandislari instituti” Milliy tadqiqot universiteti tarkibida 2023
                    yil 1 fevraldan “Iqtisodiyot” fakulteti sifatida qayta nomlanib zamonaviy o‘quv va
                    ilmiy-laboratoriya xonalari, yuqori malakali pedagog xodimlarning o‘quv va ilmiy, ilg‘or pedagogik
                    faoliyatlari yo‘lga qo‘yilgan holatda samarali faoliyatini amalga oshirib kelmoqda.</p>
            </div>
        </div>
    </section>

    <!--Call To Action Section-->

    <section class="ctn">
        <h1> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h1>
    </section>

    <!--Footer-->
    <section class="footer">
        <h4>About Us</h4>
        <p>Ushbu platforma va <a href="https://t.me/tiiame_feedback_bot?start=help">Telegram bot</a> maxsus buyurtma
            asosida "TIQXMMI" MTU Iqtisodiyot fakulteti uchun tayyorlandi.</p>
        <br>Made by <a href="https://github.com/JahongirHakimjonov">Jahongir Hakimjonov</a>
    </section>

    <!--Javascript is Start-->
    <script src="{% static 'feedbackbot/js/main_script.js' %}"></script>
    </body>


    </html>
{% endblock %}